.presentation {
    display: flex;
    background-color: var(--light-background-color);
    color: var(--primary-color);
    height: 90vh;
    padding: 0 var(--edge-padding) 0 var(--edge-padding);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark .presentation {
    background-color: black;
    color: white;
}

/* TITLE AND SUBTITLE */
.title-subtitle {
    display: flex;
    width: 45vw;
    height: inherit;
    flex-direction: column;
    justify-content: center;
}

.home-title {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    padding-left: 2vw;
    color: var(--primary-color);
}

.home-subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/* BUTTON DIV */
.home-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 45vw;
}