.footer {
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .dark .footer {
    box-shadow: 0 -2px 4px rgba(255, 255, 255, 0.1);
  }