@import "../index.css";

/* PRESENTATION */

.home {
    text-align: center;
    /* padding: 2rem; */
    height: auto;
  }
  
  .presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--secondary-background-light);
  }

  .home h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
  }
  
  .home p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .cta-button {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: var(--primary-color);
    color: black;
    border-radius: 4px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: var(--secondary-color);
    transition: transform 0.3s ease;
  }

/* EXPLANATION */

  .explanation {
    background-color: var(--primary-background-light);
    padding: 2rem;
  }
