@import "../index.css";

.footer {
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    font-family: 'Lato';
    background-color: var(--light-background-color);
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .dark .footer {
    box-shadow: 0 -2px 4px rgba(255, 255, 255, 0.1);
    color: white;
    background-color: black;
  }