@import "../index.css";

.footer {
  padding: 2rem;
  text-align: center;
  font-size: 0.9rem;
  font-family: 'Kanit';
  background-color: var(--light-background-color);
  color: rgb(95, 95, 95);
  transition: background-color 0.3s ease, color 0.3s ease;
}

p {
  margin-bottom: 1rem;
  font-size: large;
}

.footer-content {
  margin-bottom: 1rem;
}

.footer-nav {
  padding-bottom: 10px;
  font-size: large;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.footer-nav a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.footer-nav a:hover {
  color: black;
}

.dark .footer-nav a:hover {
  color: white;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer-social a {
  width: 3rem;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.social-icon {
  width: 2rem;
  height: 2rem;
}

.footer-social a:hover {
  color: black;
}

.dark .footer {
  box-shadow: 0 -2px 4px rgba(255, 255, 255, 0.1);
  color: rgb(107, 107, 107);
  background-color: black;
}

