@import "../index.css";

.header {
    align-items: center;
    background-color: var(--header-color);
    /* box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.2); */
    color: rgb(95, 95, 95);
    display: flex;
    font-family: Lato;
    font-size: medium;
    font-weight: 600;
    height: 4.5rem;
    justify-content: space-between;
    padding: 0 var(--edge-padding) 0 var(--edge-padding);
    position: sticky;
    top: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 10;
}

/* Dark theme styles */
.dark .header {
    background-color: black;
    color: rgb(107, 107, 107);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.logo-div {
    justify-content: center;
    align-items: center;
    width: 15vw;
    flex-grow: 0;
    flex-shrink: 0;
}

.link:hover, .dropdown-link:hover {
    color: black;
}

.dark .link:hover, .dark .dropdown-link:hover {
    color: white;
}

#logo {
    align-self: left;
    font-family: Kanit;
    font-size: x-large;
    font-weight: 500;
    color: black;
    height: 4rem;
    display: flex;
    align-items: center;
}

.dark #logo {
    color: white;
}

.links-div {
    align-self: center;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* align-items: right; */
    width: 30vw;
    height: inherit;
}

/* DROPDOWN STYLES */
.dropdown {
    flex: 1;
    position: relative;
    height: inherit;
}

.dropdown-arrow {
    height: 25px;
    transition: transform 0.2s ease-in-out;
}

.dropdown-arrow.open {
    transform: scaleY(-1);
}

.dropdown-link {
    flex: 1;
    height: inherit;
    background-color: var(--header-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark .dropdown-link {
    background-color: black;
    color: gray;
}

.dropdown-list {
    position: absolute;
    display: block;
    left: 0;
    top: 100%;
    background-color: var(--header-color);
    width: 100%;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, background-color 0.3s ease;
    transform: translateY(-100%);
    pointer-events: auto;
    z-index: 9;
}

.dark .dropdown-list {
    background-color: black;
    box-shadow: 0 5px 5px 0 rgba(255, 255, 255, 0.1);
}

.dropdown-list a {
    padding: 12px 0px;
    text-decoration: none;
    display: block;
    transition: color 0.3s ease;
}

.dark .dropdown-list a {
    color: gray;
}

/* Show dropdown when active */
.dropdown:hover .dropdown-list {
    opacity: 1;
    transform: translateY(0);
}

/* Overlay for greying out the page */
.page-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

.dropdown-menu:hover ~ .page-overlay {
    display: block;
}

.theme-toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}