@import "../index.css";

.header {
    padding: 0 2rem;
    font-family: Lato;
    font-size: large;
    font-weight: 600;
    position: sticky;
    top: 0;
    display: flex;
    height: 4.5rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--header-color);
    color: black;
    z-index: 10;
}

.logo-div {
    justify-content: center;
    align-items: center;
    width: 15vw;
    flex-grow: 0;
    flex-shrink: 0;
}

.link:hover, .dropdown-link:hover {
    text-decoration: underline;
}

#logo {
    height: 4rem;
    display: flex;
    align-items: center;
}

.links-div {
  display: flex; /* Change to flex for row alignment */
  flex-direction: row; /* Keep items in a row */
  align-items: center; /* Align items vertically center */
  width: 50vw; /* Set width */
  height: inherit; /* Inherit height if necessary */
}

/* DROPDOWN STYLES */
.dropdown {
  flex: 1;
  position: relative;
  height: inherit;
}

.dropdown-arrow {
  height: 15px;
  padding-left: 6px;
}

.dropdown-link {
  flex: 1;
  color: black;
  height: inherit;
  padding: 0.5rem 1rem;
  background-color: var(--header-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
}

  .dropdown-list {
    position: absolute;
    display: block;
    left: 0;
    top: 100%;
    background-color: var(--header-color);
    width: 100%;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transform: translateY(-100%);
    pointer-events: auto;
    z-index: 9;
  }

  .dropdown-list a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Show dropdown when active */
  .dropdown:hover .dropdown-list {
    opacity: 1;
    transform: translateY(0);
  }
  

/* Overlay for greying out the page */
.page-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.dropdown-menu:hover ~ .page-overlay {
  display: block;
}

.theme-toggle {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.dark .header {
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}