.btn-container {
    display: flex;
    font-family: Lato;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.btn-container i {
    margin: 0 12px;
    font-size: 21.6px;
    color: #777;
    transition: all 0.3s ease;
}

.btn-container i.active {
    color: #ffa500;
    text-shadow: 0px 0px 19.2px #ffa500;
}

.btn-container i.moon.active {
    color: #ffffff;
    text-shadow: 0px 0px 20px #ffffff;
}

.btn-color-mode-switch {
    display: inline-block;
    margin: 0px;
    position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner {
    margin: 0px;
    width: 168px;
    height: 36px;
    background: #E0E0E0;
    border-radius: 31.2px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    display: block;
    cursor: pointer;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
    content: attr(data-on);
    position: absolute;
    font-size: 14.4px;
    font-weight: 500;
    top: 8.4px;
    right: 24px;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
    content: attr(data-off);
    width: 84px;
    height: 19.2px;
    background: #fff;
    border-radius: 31.2px;
    position: absolute;
    left: 2.4px;
    top: 2.4px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 7.2px -2.4px #111;
    padding: 6px 0px;
    font-size: 14.4px;
    font-weight: 00;
    line-height: 19.2px;
}

.btn-color-mode-switch input[type="checkbox"] {
    cursor: pointer;
    width: 60px;
    height: 30px;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner {
    background: #151515;
    color: #fff;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after {
    content: attr(data-on);
    left: 81.6px;
    background: #3c3c3c;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before {
    content: attr(data-off);
    right: auto;
    left: 24px;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before,
.btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
    font-size: 14.4px;
    line-height: 19.2px;
}
