.three-switch-toggle {
  display: inline-block;
  position: relative;
  width: 378px;
  height: 36px;
  font-family: Lato, sans-serif;
}

.three-switch-toggle-inner {
  width: 100%;
  height: 100%;
  background: #E0E0E0;
  border-radius: 31px;
  overflow: hidden;
  display: flex;
  transition: all 0.3s ease;
}

.three-switch-toggle-inner label {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  color: #777;
  transition: all 0.3s ease;
  z-index: 1;
  cursor: pointer;
}

.three-switch-toggle-slider {
  width: 120px;
  height: 32px;
  background: #fff;
  border-radius: 46.5px;
  position: absolute;
  left: 2px;
  top: 2px;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 7px -3px #111;
}

.three-switch-toggle input[type="radio"] {
  display: none;
}

.three-switch-toggle input[type="radio"]:checked + label {
  color: #3c3c3c;
  cursor: pointer;
  font-weight: bold;
  transform: translateY(-1px);
  transition: all 0.2s ease-in-out;
}

.three-switch-toggle input[type="radio"]:nth-of-type(1):checked ~ .three-switch-toggle-slider {
  transform: translateX(0);
}

.three-switch-toggle input[type="radio"]:nth-of-type(2):checked ~ .three-switch-toggle-slider {
  transform: translateX(126px);
}

.three-switch-toggle input[type="radio"]:nth-of-type(3):checked ~ .three-switch-toggle-slider {
  transform: translateX(252px);
}

/* Icon styles */

.three-switch-toggle-inner label .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.icon {
  height: 17px;
}

/* Dark theme styles */
.dark .three-switch-toggle-inner {
  background: #151515;
}

.dark .three-switch-toggle-slider {
  background: #3c3c3c;
}

.dark .three-switch-toggle-inner label {
  color: #888888;
}

.dark .three-switch-toggle input[type="radio"]:checked + label {
  color: white;
}