@import "../../index.css";

.valchecker {
  height: auto;
  background-color: var(--light-background-color);
  padding: 0 var(--edge-padding);
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dark {
  background-color: black;
  color: white;
}

.top-bar {
  display: flex;
  width: 60rem;
  height: fit-content;
  align-items: center;
}

.logo-text {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.triple-switch {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.treadmill-aligner {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 1rem 0 1rem 0;
  margin: 4rem 0 3rem 0; 
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

.dark .treadmill-aligner {
  background-color: var(--dark-background-color);
}

/* button */

.valcheck-button.main-button {
  width: 15rem;
  height: 36px;
  font-size: 18px;
}
