@import "../../index.css";

.valchecker {
  height: auto;
  background-color: var(--light-background-color);
  padding: 0 var(--edge-padding);
  transition: background-color 0.3s ease, color 0.3s ease;
  align-items: center;
  justify-content: center;
}

.dark {
  background-color: black;
  color: white;
}

.top-bar {
  /* padding: 0 6rem; */
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.logo-text {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.triple-switch {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
  

  