@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --header-color: #F5F3F5;
  --secondary-color: #555e5e;
  --primary-background-light: #F5F3F5;
  --primary-text-light: black;
  --primary-background-dark: #302546;
  --primary-text-dark: #E0E2DB;
  --secondary-background-light: #white;
  --secondary-text-light: rgb(59, 59, 59);
  --secondary-background-dark: #302546;
  --secondary-text-dark: #B8BDB5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  font-size: 16px;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  /* padding: 2rem; */
}

button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

li {
  text-decoration: none;
}

.light {
  background-color: var(--background-light);
  color: var(--text-light);
}

.dark {
  background-color: var(--background-dark);
  color: var(--text-dark);
}