@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --primary-color: #5F7470;
  --secondary-color: #555e5e;
  --primary-background-light: #e9e9e9;
  --primary-text-light: #302546;
  --primary-background-dark: #302546;
  --primary-text-dark: #E0E2DB;
  --secondary-background-light: #E0E2DB;
  --secondary-text-light: #333;
  --secondary-background-dark: #302546;
  --secondary-text-dark: #B8BDB5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  font-size: 16px;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  /* padding: 2rem; */
}

button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

li {
  text-decoration: none;
}

.light {
  background-color: var(--background-light);
  color: var(--text-light);
}

.dark {
  background-color: var(--background-dark);
  color: var(--text-dark);
}